**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/node_modules/
**/*.user
**/*.suo
**/*.cache
**/*.bak
**/TestResults/
**/.git/
**/.gitignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/*.log
**/publish/
.cursor/
.env*
*.db
*.db-journal
