@using Microsoft.Extensions.Localization
@using DoganSystem.Localization
@inject IStringLocalizer<GrcResource> L
@{
    ViewData["Title"] = L["Error:Title"];
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-danger">@L["Error:Title"]</h1>
            <h2 class="text-danger">@L["Error:Message"]</h2>
            <p>
                <a href="/" class="btn btn-primary">@L["Error:ReturnHome"]</a>
            </p>
        </div>
    </div>
</div>
