@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}
